@charset "utf-8";

html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.5;
  font-size: 1.6rem; /* 16px */
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  /*background-image: linear-gradient(
    145deg,
    #2e5894,
    #333399,
    #6699cc,
    #a2a2d0,
    #ffffff
  );*/
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden; */
}

p {
  margin: 0;
  padding: 0;
}

/**************************************/
/*HEADER*/
/**************************************/
header {
  margin-top: 8px;
  color: #006400;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  background: #fff8e7;
  font-family: Bradley Hand, cursive;
}

#msgtext {
  text-align: center;
}

/***************************************/
/*GAME AREA*/
/***************************************/
.game-container {
  padding: 40px 0;
}
/*class message container*/
.message-container {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
  overflow: hidden;
}

.js-hidden {
  display: none;
}

/***************************************/
/*LEVEL SELECT*/
/***************************************/
.level-container {
  margin: 0 100px 20px;
  font-size: 1em;
  font-weight: bold;
}
.level-box {
  display: flex;
  justify-content: space-around;
}
.level {
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
}
.level-non-selected {
  background: grey;
  color: whitesmoke;
  border: solid 2px #333;
}
.level-selected {
  background: #ffd347;
  color: grey;
  border: solid 2px #333;
}

/***************************************/
/*CLASS SQUARE CONTAINER*/
/***************************************/
.squares-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 200px;
}

.squares-box {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border: solid 2px #333;
}
.square {
  position: relative;
  width: calc(196px / 3);
  height: calc(196px / 3);
  border: solid 2px #333;
}

/*penguins*/
.js-pen-checked::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  content: '';
  background-image: url(../img/penguins.jpg);
  background-size: contain;
}

/*bear*/
.js-bear-checked::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  content: '';
  background-image: url(../img/whitebear.jpg);
  background-size: contain;
}

/* non-protect マウスイベントを有効にする */
.js-clickable {
  content: '';
}
/*protect*/
.js-unclickable {
  pointer-events: none;
}

/* winner-line high-light */
.js-pen_highLight {
  border: solid 2px red;
}
.js-bear_highLight {
  border: solid 2px blue;
}
/***************************************/
/*BUTTON STYLE*/
/***************************************/
.btn {
  margin: top;
  padding: 12px;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 24px;
  background: rgb(102, 180, 222);
  user-select: none;
  cursor: pointer;
}

.message-container {
  height: 250px;
  margin-bottom: 0px;
}

/***************************************/
/*BACK BUTTON*/
/***************************************/
.back {
  margin-top: 8px;
  text-align: left;
}

/***************************************/
/* NEW GAME */
/***************************************/
/* class = ".btn-container"*/
.btn-container {
  padding-top: 40px;
  text-align: center;
}
/* id = "btn90" */
#btn90:hover {
  background-color: #ffd347;
  transition-duration: 0.4s;
}

/***************************************/
/*FOOTER*/
/***************************************/
footer > p {
  position: absolute;
  bottom: 5px;
  width: 100%;
  margin: 0px;
  padding: 1px;
  color: whitesmoke;
  font: 16px Rajdhan1;
  text-align: center;
  background: rgba(1, 24, 31, 0.7);
}

/***************************************/
/*Media Query responsive setting*/
/***************************************/
@media screen and (max-width: 480px) {
  .wrapper {
    padding-bottom: 23px;
  }
  .btn-container {
    padding-top: 2px;
  }
  /*　ヘッダー */
  header {
    font-size: 24px;
  }
  /* メッセージ　*/
  #msgtext {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) and (max-height: 900px) {
  body {
    background-position: 75% 0%;
    background-size: auto 900px;
  }
}

@media screen and (max-width: 480px) and (max-height: 667px) {
  body {
    background-position: 50% 0%;
    background-size: auto 700px;
  }
}

@media screen and (max-width: 1050px) and (max-height: 1200px) {
  body {
    background-position: 75% 0%;
    background-size: auto 1200px;
  }
}
@media screen and (max-height: 1200px) {
  body {
    background-position: 75% 0%;
    background-size: auto 1200px;
  }
}
